* {
display: flexbox;
}

.nav-bar {
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-between;
    font-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nav-bar img {
    width: 8%;
    height: 2%;
    margin-left: 3%;
    align-content: left;
}

.nav-bar nav{
    margin-right: 3%;
}

.nosotros{
    display: flex;
    padding: 5%;
    background-image: url(img/industriaFondo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75% 25%;
}
.lema {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(255, 255, 0);
    font-size: 2rem;
    background-color: rgba(255,255,255,0.3) ;
    padding: 3%;
}

.objetivos {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.objetivos-izquierda{
    width: 50%;
    text-align: left;
    margin-left: 5%;
}

.presentacion{
    max-width: 80%;
}


.objetivos-derecha {
    width: 50%;
    text-align: center;
}

.enumerados{
    max-width: 80%;
}


.contenedor{
    display: flex;
}

.columna-izquierda {
    width: 50%;
}

.texto-informativo{
    max-width: 80%;
}


.columna-derecha {
    width: 50%;
}

.div-sup p{
    text-align: right;
    background-color: aqua;
}

