* {
display: flexbox;
}

.nav-bar {
    position: sticky;
    margin: 0;
    padding: 30px;
    display: block;
    background-color: #ff6315;
    text-align: right;
    font-size: 150%;
    color:beige;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.nosotros {
    position: relative;
}

.nosotros img {
    height:90vh;
    width: 100%;
}

.pres {
    position: absolute;
    width: 20%;
    height: 30vh;
    padding: 20px;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 15%;
    text-align:justify;
    color: #ff6315;
    background-color: white;
}

.objetivos {
    position: relative;
    align-items: center;
    text-align: center;
}

.objetivos img{
    text-align: center;
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

.contenedor{
    position: relative;
    display: flex;
    
}

.columna-izquierda {
    width: 50%;
    border-spacing: 5%;
}


.columna-derecha {
    width: 50%;
}


.div-sup p{
    margin-top: 80px;
    text-align: right;
    background-color: aqua;
}

