* {
box-sizing: border-box;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 1.1rem;
margin:0;
--color-fondo:lightgrey;
}

html{
    display: flex;
    flex-direction: column;
}

body{
    border: solid 15px #04397a;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-fondo);
}

nav a{
    margin: 5px;
}

nav:hover a{
    opacity: 40%;
}

nav a:hover{
    opacity: 1;
}

header img{
    max-height: 10vh;
}

a{
    text-decoration: none;
    text-align: center;
}

section{
    text-align: center;
    margin-top: 3%;
}

.productos{
    position: sticky;
    top: 20px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 18%;
}
.productos div img{
    width:75%

}
.productos img{
    width: 75%;
}


a img:hover{
    border-radius: 50%;
}

a:visited{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 1vw 5%;
    margin-top: 8vh;
    height: 35vh;
}
.pie{
    max-height: 95%;
    max-width: 75%;
}
.pie p{
    width: 80%;
}

li{
    list-style: none;
}

form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 10vh auto;
    gap: 10px;
    width: 75vw;
    max-width: 700px;
    align-items: center;
    background-color: var(--color-fondo);
    border-radius: 10px;
}

form input{
    width: 50vw;
}

form textarea{
    width: 50vw;
    resize: none;
}

form *{
    max-width: 600px;
    border-radius: 5px;
}

.articulo{
    display:grid;
    grid-template-columns: 2fr 3fr 3fr;
    align-items: center;
}

.articulo h3{
    margin-top: 10px;
}

.articulo p{
    padding-top: 10px;
}

.articulo img{
    width:70%;
    border: var(--color-fondo) solid;
    border-radius: 50%;
    margin: 2px 0;
}

h4{
    margin: 0 auto;
    background-color: var(--color-fondo);
    width:auto;
    border-radius: 5%;
    font-size: 2rem;
}

.descripcion h4{
    margin-bottom: 20px;
}

.descripcion div{
    margin-bottom: 5%;
    margin-bottom: 5%;
}

.articulos{
    margin-top: 10 vh;
    margin-left: 10%;
}

.variedades{
    margin-right: 5%;
    margin-left: 5%;
}